<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单知识点回顾</title>
</head>
<body>
    <form action="/index" method="post" enctype="multipart/form-data"></form>
    <ul>
        <li>
            用户地址：
            <textarea name="" id="" cols="30" rows="10" placeholder="请输入地址"></textarea>
        </li>
        <li>
            用户名：
            <input type="text" placeholder="请输入用户名">
        </li>
        <li>
            密码：
            <input type="password" placeholder="请输入密码">
        </li>
        <li>
            age:
            <input type="number">
        </li>
        <li>
            性别：
            <lable><input type="radio" value="男" name="sex">男</lable>
            <lable><input type="radio" value="女" name="sex">女</lable>
        </li>
        <li>
            爱好：
            <input id="id-play-ball" type="checkbox" value="打球">
            <lable for="id-play-ball">打球</lable>
            <input id="id-play-swim" type="checkbox" value="游泳">
            <lable for="id-play-swim">游泳</lable>
            <input id="id-play-run" type="checkbox" value="跑步">
            <lable for="id-play-run">跑步</lable>
        </li>
    </ul>

</body>
</html>