{% extends 'base.html' %}
{% block title %}
    添加新的博客
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h2>添加博客</h2>
        <br>
        <div class="form-group">
            <form method="post">

                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="'btn btn-secondary">提交</button>

            </form>
        </div>
        <script>
            let name = "{{ user.id }}";
            document.getElementById("elder").value=name;
            {#  从 forms.py 中获取 author 的 ID 以确认当前登录的用户 #}
        </script>
    {% else %}
        请登录后再使用该功能
    {% endif %}
{% endblock %}


