{% extends 'base.html' %}
{% block content %}
    <h2>博客列表</h2>
    <ul>
        {% if object_list %}
            {% for blog in object_list %}
                <li>
                    <h4><a href={% url 'detail' blog.id %}>{{ blog.title }}</a></h4>
                    作者:{{ blog.author }} -- 创建日期:{{ blog.created_at }}<br>
                    <small>
                        <button>
                            <a href="{% url 'update_blog' blog.id %}" style="color: #0f0f0f">更新</a>
                        </button>
                        <button>
                            <a href="{% url 'delete_blog' blog.id %}" style="color: #0f0f0f">删除</a>
                        </button>
                    </small>
                    <p>{{ blog.content }}</p>

                </li>
            {% endfor %}
        {% else %}
            <span>没有数据 ～</span>
        {% endif %}
    </ul>
{% endblock %}
