{% extends 'base.html' %}
{% block title %}
    {#  把后台定义的博客的标签用作页面的标题 #}
    {{ blog.title_tag }}
{% endblock %}
{% block content %}
    <h2>博客详情</h2>
    <h4>{{ blog.title }}</h4>
    <small>
        作者:{{ blog.author }}<br>
        创建日期:{{ blog.created_at }}<br>
        {#        当前用户ID: {{ user.id }}<br>#}
        {#        作者ID：{{ blog.author.id }}<br>#}
        {% if user.is_authenticated %}
            {% if user.id == blog.author.id %}
                {# 如果当前登录的用户跟创建博客的用户 id 一致才可以进行以下操作 #}
                <button>
                    <a href="{% url 'update_blog' blog.id %}">更新</a>
                </button>
                <button>
                    <a href="{% url 'delete_blog' blog.id %}">删除</a>
                </button>
            {% endif %}
        {% endif %}

    </small>
    <br/>
    <hr>
    {# 把上传的本体图片展示在页面中 #}
    {% if blog.image %}
        <img src="{{ blog.image.url }}"><br>
    {% endif %}
    <p>{{ blog.content|safe }}</p>
    <br/>
    {# 返回博客列表#}
    <button>
        <a href="{% url 'blog' %}" type="button" class="btn btn-secondary">返回</a>
    </button><br>
    <form action="{% url 'like_blog' blog.pk %}" method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}

            {% if liked %}
                <button type="submit" name="blog_id" value="{{ blog.id }}"
                        class="btn btn-danger btn-sm">不喜欢
                </button>
            {% else %}
                <button type="submit" name="blog_id" value="{{ blog.id }}"
                        class="btn btn-primary btn-sm">点赞
                </button>
            {% endif %}
        {% else %}
            <small>必须<a href="{% url 'login' %}">登录</a>才能点赞</small>
        {% endif %}
        -{{ total_likes }} 个赞
    </form>
{% endblock %}
