{% extends 'base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block content %}
    <h2>修改密码</h2>
    <br>
    <div class="form-group">
        <form method="post">

            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="'btn btn-secondary">保存</button>
            <ul>
                <li>你的密码不能与你的其他个人信息太相似</li>
                <li>你的密码必须包含至少 8 个字符</li>
                <li>你的密码不能是一个常见密码</li>
                <li>你的密码不能全都是数</li>
                。
            </ul>

        </form>
    </div>
{% endblock %}


