<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认两次密码是否一致</title>
</head>
<body>
<h3>确认两次密码是否一致</h3>
<form action="." method="post">
    {% csrf_token %}
    <div>
        <!-- 确认密码 -->
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}
    </div>
    <div>
        <!-- 密码 -->
        {{ form.password.label }}
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <input type="submit" value="提交">
</form>

</body>
</html>